#landing_logo_parent {
    background-image: url("../images/employee_login_bg.png");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

#main_logo {
    margin-top: 40%;
}

#form_section {
    padding-top: 26vh;

}

#form_parent {
    padding-top: 7vh;
}

.college_name {
    margin-top: 40px;
}

.input {
    width: 100%;
    background-color: white;
    border: none;
    border-bottom: 1px solid rgba(14, 42, 255, 0.96);
    color: rgba(14, 42, 255, 0.96);
    text-align: left;
    padding-left: 30px;
    margin-bottom: 30px;
}

::placeholder { 
    color: rgba(82, 18, 255, 0.49);
}

/*      { Form submit buttons     */
#login_btn {
    border-radius: 20px;
    margin-top: 10px;
    width: 60%;
       background: rgba(74,166,247,1);
    background: -moz-linear-gradient(-45deg, rgba(74,166,247,1) 0%, rgba(0,40,219,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(74,166,247,1)), color-stop(100%, rgba(0,40,219,1)));
    background: -webkit-linear-gradient(-45deg, rgba(74,166,247,1) 0%, rgba(0,40,219,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(74,166,247,1) 0%, rgba(0,40,219,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(74,166,247,1) 0%, rgba(0,40,219,1) 100%);
    background: linear-gradient(135deg, rgba(74,166,247,1) 0%, rgba(0,40,219,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4aa6f7', endColorstr='#0028db', GradientType=1 );
    height: 40px;
    color: white;        
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.33);
    transition: 0.4s;
}
#login_btn:hover {
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.33);
}
#procced_btn {
    border-radius: 20px;
    margin-top: 10px;
    width: 60%;
    background-color: #27c909;
    height: 40px;
    color: white;        
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.33);
    transition: 0.4s;
}
#procced_btn:hover {
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.33);
}
#reset_btn {
    border-radius: 20px;
    margin-top: 10px;
    width: 60%;
    background-color: #c90909;
    height: 40px;
    color: white;        
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.33);
    transition: 0.4s;
}
#reset_btn:hover {
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.33);
}
#save_btn {
    border-radius: 20px;
    margin-top: 10px;
    width: 60%;
    background-color: #27c909;
    height: 40px;
    color: white;        
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.33);
    transition: 0.4s;
}
#save_btn:hover {
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.33);
}
/*       Form submit buttons }     */

.form_links {
    font-size: 13px;
}

.form_links_parent {
    margin-top: 30px;
    margin-bottom: 30px;
}

#error_display { 
    display: none;
    color: red;
    font-weight: 600;
}