body {
    transition: 0.4s!important;
}
/*      { Color Variables     */
:root {
    --gradient-blue : linear-gradient(to bottom right, #3399ff 45%, #0000cc 100%);
}
/*      Color Variables }     */

/*        { General Rules       */
.center {
    text-align: center!important;
}
.red {
    color: red!important;
}
.black {
    color: black!important;
}
.blue {
    color: #4b3dfa!important;
}
.links {
    text-decoration: none;
}
.white {
    color: white!important;
}
/*        General Rules }       */

/*        { Preloader        */
#preloader_parent {
    height: 100vh;
    z-index: 999999;
    width: 100%;
    position: fixed;
    background: white;
}
#preloader-content {
    position: absolute;
    height: 200px;
    width: 600px;
    margin: -100px 0 0 -200px;
    top: 60%;
    left: 52%;
    color: white;
}
/*        Preloader }        */

