#landing {
	background-image: url("../images/institute_index_bg.png");
	background-size: cover;
	background-position: center;
	min-height: 60vh;
	background-repeat: no-repeat;
}
.card {
	margin-left: 2em;
	margin-right: 2em;
	background-color: white;
	min-height: 55vh;
	border-radius: 0px;
	box-shadow: 7px 7px 8px rgba(0,0,0,0.24);
	padding-top: 5em!important;
}
.login_btn {
	/*background-color: #0B63FF;*/
	background: rgba(52,101,247,1);
	background: -moz-linear-gradient(left, rgba(52,101,247,1) 0%, rgba(16,0,135,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(52,101,247,1)), color-stop(100%, rgba(16,0,135,1)));
	background: -webkit-linear-gradient(left, rgba(52,101,247,1) 0%, rgba(16,0,135,1) 100%);
	background: -o-linear-gradient(left, rgba(52,101,247,1) 0%, rgba(16,0,135,1) 100%);
	background: -ms-linear-gradient(left, rgba(52,101,247,1) 0%, rgba(16,0,135,1) 100%);
	background: linear-gradient(to right, rgba(52,101,247,1) 0%, rgba(16,0,135,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3465f7', endColorstr='#100087', GradientType=1 );
	color: white;
	margin-top: 5em;
	width: 90%;
	border-radius: 30px!important;
	border: none;
	box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
	transition: 0.3s;
}
.login_btn:hover {
	box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}
.login_btn:focus {
	/*background-color: #0B63FF;*/
	background: rgba(52,101,247,1);
	background: -moz-linear-gradient(left, rgba(52,101,247,1) 0%, rgba(16,0,135,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(52,101,247,1)), color-stop(100%, rgba(16,0,135,1)));
	background: -webkit-linear-gradient(left, rgba(52,101,247,1) 0%, rgba(16,0,135,1) 100%);
	background: -o-linear-gradient(left, rgba(52,101,247,1) 0%, rgba(16,0,135,1) 100%);
	background: -ms-linear-gradient(left, rgba(52,101,247,1) 0%, rgba(16,0,135,1) 100%);
	background: linear-gradient(to right, rgba(52,101,247,1) 0%, rgba(16,0,135,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3465f7', endColorstr='#100087', GradientType=1 );
	color: white;
	margin-top: 5em;
	width: 90%;
	border-radius: 30px!important;
	border: none;
	box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
	transition: 0.3s;
}