/*
Background gradient css

background: rgba(133,195,252,1);
background: -moz-linear-gradient(-45deg, rgba(133,195,252,1) 0%, rgba(0,40,219,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(133,195,252,1)), color-stop(100%, rgba(0,40,219,1)));
background: -webkit-linear-gradient(-45deg, rgba(133,195,252,1) 0%, rgba(0,40,219,1) 100%);
background: -o-linear-gradient(-45deg, rgba(133,195,252,1) 0%, rgba(0,40,219,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(133,195,252,1) 0%, rgba(0,40,219,1) 100%);
background: linear-gradient(135deg, rgba(133,195,252,1) 0%, rgba(0,40,219,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85c3fc', endColorstr='#0028db', GradientType=1 );
    
*/

#landing {
    background: rgba(74,166,247,1);
    background: -moz-linear-gradient(-45deg, rgba(74,166,247,1) 0%, rgba(0,40,219,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(74,166,247,1)), color-stop(100%, rgba(0,40,219,1)));
    background: -webkit-linear-gradient(-45deg, rgba(74,166,247,1) 0%, rgba(0,40,219,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(74,166,247,1) 0%, rgba(0,40,219,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(74,166,247,1) 0%, rgba(0,40,219,1) 100%);
    background: linear-gradient(135deg, rgba(74,166,247,1) 0%, rgba(0,40,219,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4aa6f7', endColorstr='#0028db', GradientType=1 );
    min-height: 100vh;
}

#form_parent {
    margin:auto;
    margin-top: 130px;
    width: 60%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 19px 19px 80px rgba(0, 0, 0, 0.31);
}

#main_logo {
    margin: 70px 0px 0px 70px;
}

#landing_design {
    padding-left: 120px;
    margin-top: 120px;
}

#landing_design_button_parent {
    padding-left: 120px;
    margin-top: 30px;
}

#notice_view_btn {
    background-color: white;
    height: 40px;
    border-radius: 8px;
    color: blue;
    width: 100%;
    box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.33);
    transition: 0.4s;
}

#notice_view_btn:hover {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.24);
}

.form_college_name {
    margin-top: 15px;
    color: rgba(123, 123, 123, 0.96);
}

#login_form_parent {
    margin-top: 80px;
    text-align: center;
}

.input {
    width: 100%;
    background-color: white;
    border: none;
    border-bottom: 1px solid rgba(123, 123, 123, 0.96);
    text-align: center;
    margin-bottom: 30px;
}
::placeholder {
    color: rgba(128, 128, 128, 0.49);
}

/*      { Form submit buttons     */
#login_btn {
    border-radius: 20px;
    margin-top: 10px;
    width: 100%;
    background-color: #3e3ed9;
    height: 40px;
    color: white;        
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.33);
    transition: 0.4s;
}
#login_btn:hover {
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.33);
}
#procced_btn {
    border-radius: 20px;
    margin-top: 10px;
    width: 100%;
    background-color: #27c909;
    height: 40px;
    color: white;        
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.33);
    transition: 0.4s;
}
#procced_btn:hover {
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.33);
}
#reset_btn {
    border-radius: 20px;
    margin-top: 10px;
    width: 100%;
    background-color: #c90909;
    height: 40px;
    color: white;        
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.33);
    transition: 0.4s;
}
#reset_btn:hover {
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.33);
}
#save_btn {
    border-radius: 20px;
    margin-top: 10px;
    width: 100%;
    background-color: #27c909;
    height: 40px;
    color: white;        
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.33);
    transition: 0.4s;
}
#save_btn:hover {
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.33);
}
/*       Form submit buttons }     */

.form_links {
    font-size: 13px;
}

.form_links_parent {
    margin-top: 20px;
    margin-bottom: 30px;
}