a {
	text-decoration: none!important;
}
#landing {
	min-height: 100vh;
	background-image: url("../images/product_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: white!important;
}
#nav_login {
	background-color: white;
	border-radius: 19px;
	margin: auto;
	padding-bottom: 4px;
	padding-top: 4px;
	font-weight: 600!important;
}
.nav_link a {
	color: white!important;
}

#product_logo {
	margin-top: 8em;
}
#search_institute_parent {
	margin-top: 5em;
}
#search_institute {
	background: rgba(0,0,0,0)!important;
	border: none;
	border-bottom: 3px solid #27ADFF;
	width: 100%;
	font-size: 2.5em;
	outline: none;
	color: #27ADFF;
}
#search_institute::placeholder {
	color: #27adff4d;
}
#search_institute_result {
	margin-top: 0.7em;
	background-color: #27ADFF;
	min-height: 0px;
}
#search_institute_result a {
	color: #0d1629;
}
.result {
	padding-top: 10px;
	padding-bottom: 10px;
}
/*      Pricing table css (starts)      */
.pricingTable{
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 50px 15px;
    text-align: center;
    margin-top: 11em;
    color: #292929;
    perspective: 700px;
    z-index: 1;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
}
.pricingTable:hover{ color: #fff; }
.pricingTable:after{
    content: "";
    width: 100%;
    height: 100%;
    background: #3485ef;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transform: rotateY(70deg);
    transition: all 0.3s ease-in-out 0s;
}
.pricingTable:hover:after{
    opacity: 1;
    transform: rotateY(0deg);
}
.pricingTable .icon{
    width: 69px;
    height: 69px;
    line-height: 69px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    font-size: 25px;
    color: #3485ef;
    position: absolute;
    top: -34px;
    left: 0;
    right: 0;
}
.pricingTable .pricingTable-header{
    margin-bottom: 30px;
}
.pricingTable .title{
    display: block;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}
.pricingTable .price-value{
    display: inline-block;
    border-bottom: 5px solid #3485ef;
    font-size: 30px;
    font-weight: 700;
    transition: all 0.3s ease-in-out 0s;
}
.pricingTable:hover .price-value{
    border-bottom-color: #fff;
}
.pricingTable .pricing-content{
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}
.pricingTable .pricing-content li{
    font-size: 14px;
    line-height: 40px;
}
.pricingTable .pricingTable-signup{
    display: inline-block;
    padding: 9px 23px;
    background: #3485ef;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    transition: all 0.25s ease-in-out 0s;
}
.pricingTable:hover .pricingTable-signup{
    background: #fff;
    color: #3485ef;
}
.pricingTable .pricingTable-signup:before,
.pricingTable .pricingTable-signup:after{
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    transition: all 0.25s ease-in-out 0s;
}
.pricingTable .pricingTable-signup:before{
    left: -12px;
    border-right: 12px solid #3485ef;
}
.pricingTable .pricingTable-signup:after{
    right: -12px;
    border-left: 12px solid #3485ef;
}
.pricingTable:hover .pricingTable-signup:before{
    border-right-color: #fff;
}
.pricingTable:hover .pricingTable-signup:after{
    border-left-color: #fff;
}
@media only screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 30px; }
}
@media only screen and (max-width: 767px){
    .pricingTable{ margin-bottom: 50px; }
}
/*      Pricing table css (ends)      */
.login_btn {
	background-color: #103339;
	box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
	margin-top: 1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	color:white;
	transition: 0.5s;
}
.login_btn:hover {
	background-color: #103339;
	box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
	
	color:white;
}
