
#landing {
     background: rgba(74,166,247,1);
    background: -moz-linear-gradient(-45deg, rgba(74,166,247,1) 0%, rgba(0,40,219,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(74,166,247,1)), color-stop(100%, rgba(0,40,219,1)));
    background: -webkit-linear-gradient(-45deg, rgba(74,166,247,1) 0%, rgba(0,40,219,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(74,166,247,1) 0%, rgba(0,40,219,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(74,166,247,1) 0%, rgba(0,40,219,1) 100%);
    background: linear-gradient(135deg, rgba(74,166,247,1) 0%, rgba(0,40,219,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4aa6f7', endColorstr='#0028db', GradientType=1 );
    min-height: 100vh;
}

#custom_navbar {
    padding-top: 30px;
}

#landing_logo {
    margin-top: 30vh;
}

.explore_btn {
    margin-top: 60px;
    background-color: white;
    color: rgba(47, 47, 250, 0.99);
    width: 100%;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.6);
}

.explore_btn:hover {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.6);
}

.landing_features {
    width: 50%;
    margin: auto;
}

#pricing_parent {
    min-height: 100vh;
    background-color: white;
    margin: auto;
    padding-top: 60px;
}

/*      Pricing table css (starts)      */
.pricingTable{
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 50px 15px;
    text-align: center;
    margin-top: 30px;
    color: #292929;
    perspective: 700px;
    z-index: 1;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
}
.pricingTable:hover{ color: #fff; }
.pricingTable:after{
    content: "";
    width: 100%;
    height: 100%;
    background: #3485ef;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transform: rotateY(70deg);
    transition: all 0.3s ease-in-out 0s;
}
.pricingTable:hover:after{
    opacity: 1;
    transform: rotateY(0deg);
}
.pricingTable .icon{
    width: 69px;
    height: 69px;
    line-height: 69px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    font-size: 25px;
    color: #3485ef;
    position: absolute;
    top: -34px;
    left: 0;
    right: 0;
}
.pricingTable .pricingTable-header{
    margin-bottom: 30px;
}
.pricingTable .title{
    display: block;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}
.pricingTable .price-value{
    display: inline-block;
    border-bottom: 5px solid #3485ef;
    font-size: 30px;
    font-weight: 700;
    transition: all 0.3s ease-in-out 0s;
}
.pricingTable:hover .price-value{
    border-bottom-color: #fff;
}
.pricingTable .pricing-content{
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}
.pricingTable .pricing-content li{
    font-size: 14px;
    line-height: 40px;
}
.pricingTable .pricingTable-signup{
    display: inline-block;
    padding: 9px 23px;
    background: #3485ef;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    transition: all 0.25s ease-in-out 0s;
}
.pricingTable:hover .pricingTable-signup{
    background: #fff;
    color: #3485ef;
}
.pricingTable .pricingTable-signup:before,
.pricingTable .pricingTable-signup:after{
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    transition: all 0.25s ease-in-out 0s;
}
.pricingTable .pricingTable-signup:before{
    left: -12px;
    border-right: 12px solid #3485ef;
}
.pricingTable .pricingTable-signup:after{
    right: -12px;
    border-left: 12px solid #3485ef;
}
.pricingTable:hover .pricingTable-signup:before{
    border-right-color: #fff;
}
.pricingTable:hover .pricingTable-signup:after{
    border-left-color: #fff;
}
@media only screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 30px; }
}
@media only screen and (max-width: 767px){
    .pricingTable{ margin-bottom: 50px; }
}
/*      Pricing table css (ends)      */