body {

    background-color: #001E23;
}

#landing_logo_parent {
    background-image: url("../images/student_bg.png");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

#main_logo {
    margin-top: 40%;
}

#form_section {
    padding-top: 36vh;
    background-color: #001E23;
}

#form_parent {
    padding-top: 7vh;
}

.college_name {
    margin-top: 40px;
}

.input {
    width: 100%;
    background-color: #001E23;
    border: none;
    border-bottom: 2px solid #2BA8FC;
    color: #2BA8FC;
    font-weight: 600;
    text-align: left;
    padding-left: 30px;
    margin-bottom: 30px;
}

::placeholder { 
    color: #2BA8FC;
}

/*      { Form submit buttons     */
#login_btn {
    border-radius: 20px;
    margin-top: 10px;
    width: 60%;
       background: #2BA8FC;
    height: 40px;
    color: black;        
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.33);
    transition: 0.4s;
}
#login_btn:hover {
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.33);
}
#procced_btn {
    border-radius: 20px;
    margin-top: 10px;
    width: 60%;
    background-color: #27c909;
    height: 40px;
    color: white;        
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.33);
    transition: 0.4s;
}
#procced_btn:hover {
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.33);
}
#reset_btn {
    border-radius: 20px;
    margin-top: 10px;
    width: 60%;
    background-color: #c90909;
    height: 40px;
    color: white;        
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.33);
    transition: 0.4s;
}
#reset_btn:hover {
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.33);
}
#save_btn {
    border-radius: 20px;
    margin-top: 10px;
    width: 60%;
    background-color: #27c909;
    height: 40px;
    color: white;        
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.33);
    transition: 0.4s;
}
#save_btn:hover {
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.33);
}
/*       Form submit buttons }     */

.form_links {
    font-size: 13px;
}

.form_links {
    color: white!important;
}

.form_links_parent {
    margin-top: 30px;
    margin-bottom: 30px;
}

#error_display { 
    display: none;
    color: red;
    font-weight: 600;
}