@media only screen and (max-width: 950px) {
    #main_logo {
        margin: 70px 0px 0px 0px;
    }
    #landing_design {
        padding-left: 0px;
        margin-top: 120px;
    }
    #landing_design_button_parent {
        padding-left: 0px;
        margin-top: 30px;
    }
    #form_parent {
        width: 100%;
    }
}

#reset_form_parent {
    margin-top: 80px;
    text-align: center;
    transition: 0.4s!important;
}
#otp_form_parent {
    margin-top: 80px;
    text-align: center;
    transition: 0.4s!important;
}
#change_password_form_parent {
    margin-top: 80px;
    text-align: center;
    transition: 0.4s!important;
}
#error_display { 
    display: none;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 93%!important;
    background-color: red;
    color: white;
}