body{
	background-image: url("../images/pexels-photo-256395.jpeg");
	no-repeat center center fixed;
	background-size: cover;
	font-family: 'Lato', sans-serif;
}

.form-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 300px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.5);
	padding: 40px;
	border: 1px solid #fff;

}

h2{
	text-align: center;
	color: #fff;
	font-size: 30px;
	text-shadow: 4px 3px 0px rgba(17,65,97,0.59);



}

h1{
	text-align: center;
	font-size: 200px;
	text-shadow: 4px 3px 0px rgba(17,65,97,0.59);
}

.form-box p{
	margin: 0;
	padding: 0;
	color: #fff;
}

.form-box a{
	color: #fff;
}

.form-box input, select{
	margin-bottom: 20px;

}

.form-box input[type = text],
.form-box input[type = password]{
	border: none;
	border-bottom: 1px solid #fff;
	background-color: transparent;
	outline: none;
	height: 20px;
	color: #fff;
}

.form-box input[type = submit]{
	 
   display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  margin: 7px;
  padding: 4px 20px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal Arial, Helvetica, sans-serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(-90deg, rgba(41,65,198,0.81) 0, rgba(41,65,198,0.81) 46%, rgba(16,13,168,1) 96%, rgba(16,13,168,1) 100%);
  background: -moz-linear-gradient(180deg, rgba(41,65,198,0.81) 0, rgba(41,65,198,0.81) 46%, rgba(16,13,168,1) 96%, rgba(16,13,168,1) 100%);
  background: linear-gradient(180deg, rgba(41,65,198,0.81) 0, rgba(41,65,198,0.81) 46%, rgba(16,13,168,1) 96%, rgba(16,13,168,1) 100%);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  -webkit-box-shadow: 4px 3px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 4px 3px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);


   background: #060129;
background: -moz-linear-gradient(left, #060129 0%, #1C6EA4 50%, #000000 100%);
background: -webkit-linear-gradient(left, #060129 0%, #1C6EA4 50%, #000000 100%);
background: linear-gradient(to right, #060129 0%, #1C6EA4 50%, #000000 100%);
}

.admin button{
	  border-top: 1px solid #96d1f8;
   background: #5485b8;
   background: -webkit-gradient(linear, left top, left bottom, from(#010203), to(#5485b8));
   background: -webkit-linear-gradient(top, #010203, #5485b8);
   background: -moz-linear-gradient(top, #010203, #5485b8);
   background: -ms-linear-gradient(top, #010203, #5485b8);
   background: -o-linear-gradient(top, #010203, #5485b8);
   padding: 11.5px 23px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 17px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   position: absolute;
   left: 1190px;
   bottom: 600px;
   font-family: 'Lato', sans-serif;
}




	
