body{
	background: #f4f4f4;
}

.navbar{
	min-height: 33px;
	margin-bottom: 0;
	border-radius: 0;
}

.navbar-nav > li > a, .navbar-brand{
	padding-top: 5px;
	padding-bottom: 0;
	height: 33px;
}

/*header*/
header{
	background: #1e5799;
background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 81%, #7db9e8 100%);
background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 81%,#7db9e8 100%);
background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 81%,#7db9e8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
	

}

/*breadcrumb*/

.breadcrumb{
	background: #cccccc;
	color: #333333;
	padding-bottom: 5px;
}

.breadcrumb a{
	color: #333333;
	
}